allow read, write: if request.auth != null && request.auth.uid == userId;
        ///auth function?///

 

        allow create: if request.resource.data.body is string &&
        request.resource.data.body.size() > 1 &&
        request.resource.data.body.size() < 500 &&
        request.resource.data.email is string &&
        request.resource.data.email.size() > 2 &&
        request.resource.data.email.size() < 320 &&
        request.resource.data.merchantID is string &&
        request.resource.data.merchantID.size() > 2 &&
        request.resource.data.merchantID.size() < 26 &&
        request.resource.data.rating is number &&
        request.resource.data.rating.size() >= 1 &&
        request.resource.data.rating.size() <= 5 &&
        request.resource.data.subject is string &&
        request.resource.data.subject.size() > 2 &&
        request.resource.data.subject.size() < 80 &&
        //request.resource.data.userid == request.auth.uid;

 

        allow update: if request.resource.data.body is string &&
        request.resource.data.body.size() > 1 &&
        request.resource.data.body.size() < 500 &&
        request.resource.data.email is string &&
        request.resource.data.email.size() > 2 &&
        request.resource.data.email.size() < 320 &&
        request.resource.data.merchantID is string &&
        request.resource.data.merchantID.size() > 2 &&
        request.resource.data.merchantID.size() < 26 &&
        request.resource.data.rating is number &&
        request.resource.data.rating.size() >= 1 &&
        request.resource.data.rating.size() <= 5 &&
        request.resource.data.subject is string &&
        request.resource.data.subject.size() > 2 &&
        request.resource.data.subject.size() < 80 &&
        //request.resource.data.userid == request.auth.uid;
    }